.chat-main-message-list
  .chat-main-message-list-info
    .chat-main-message-list-info-talker
      = message.user.name
    .chat-main-message-list-info-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main-message-list-text
    - if message.content.present?
      %p.chat-main-message-list-text__content
        = message.content
    = image_tag message.image.url, class: 'chat-main-message-list-text__image', width: '200' if message.image.present?