.side-bar
  .side-bar-user-name
    .side-bar-user-name-box
      .side-bar-user-name-box-name
        ryo
      .side-bar-user-name-box-icons
        = link_to "#", class: "box-icons" do
          = icon('far', 'edit')
        = link_to "#", class: "box-icons" do
          = icon('fas', 'cog')
  .side-bar-group-list
    .side-bar-group-list-block
      .side-bar-group-list-block-group-name
        techcamp
      .side-bar-group-list-block-group-message
        まだメッセージがありません
      .side-bar-group-list-block-group-name
        test
      .side-bar-group-list-block-group-message
        まだメッセージがありません